

@media screen and (min-width: 480px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: -30px;
  }
}


.advantage__details {
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.advantage-section {
  padding-top: var(--section-padding-gap);
  padding-bottom: var(--section-padding-gap);
}

.advantage__details {
  &::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-background-color);
  }

  &:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
  }

  &:nth-child(2)::before {
    background-image: url(../images/clock.svg);
  }

  &:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
  }

  &:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
  }
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  box-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage__text {
  min-width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #757575;
}
