/*.customer__list {
  display: list-item;
  align-items: center;
  width: 170px;
  height: 92px;
}
.customer__list .regular-customer-list {
  display: flex;
  align-items: center;
}
*/

.regular-customer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;
  justify-content: center;

  /*
.customer__list {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 2 * 30px) / 2);
}
*/

  @media screen and (max-width: 767px) {
    .customer__list {
      width: 100%;
      flex-basis: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
  }
}

.regular-customer-list {
  @media screen and (min-width: 1200px) {
    margin: -15px;
  }
}

.customer__list {
  @media screen and (min-width: 768px) {
    width: 100%;
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    flex-basis: calc((100% - 12 * 15px) / 6);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-container {
    padding: 0;
  }
}

.customer-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
.customer__icon {
  align-items: center;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
