.footer {
  text-align: center;
  background-color: var(--secondary-background-color);
  font-family: inherit;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footcontainer {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: inline-block;
    padding-left: 15px;
    padding-right: 0;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.logo-fotter {
  margin-bottom: 20px;
}
.accent-logo-white {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.info__list:not(:last-child) {
  margin-bottom: 9px;
}

.contact__list a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin-bottom: 60px;
}

.info__address {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: #ffffff;
  }
}

.info__footer {
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: #ffffff;
  }
}

.footer-icon {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
