.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/mobile/bg-main.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/desktop/bg-main.jpg");
}
@media screen and (min-resolution: 192dpi) and (min-width: 280px),
  screen and (min-resolution: 2dppx) and (min-width: 280px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/bg-main@2x.jpg");
  }
  @media screen and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/bg-main.jpg");
    }
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/bg-main@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/desktop/bg-main.jpg");
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/desktop/bg-main@2x.jpg");
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}
