.contacts {
  font-style: normal;
}

.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover,
.contact__link:focus {
  color: var(--accent-color);
}

.icon-email {
  display: none;
}

// Tablet Menu
@media screen and (min-width: 768px) {
  .menu__contacts .contacts {
    display: block;
  }

  .menu__contacts {
    margin: 19px, 0;
  }

  .menu__contacts .contact__list:first-child {
    margin-bottom: 10px;
  }

  .menu__contacts .contact__link {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1200px) {
      font-size: 12px;
      line-height: 1.16;
    }
  }

  .icon-email {
    display: block;

    fill: currentColor;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }
}
// Desktop Menu
@media screen and (min-width: 1200px) {
  .menu__contacts .contacts {
    display: flex;
  }

  .menu__contacts {
    margin: 0;
  }
  .menu__contacts .contact__list:first-child {
    margin-bottom: 0;
    margin-right: 50px;
  }

  .menu__contacts .contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
