.teamwork-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.regular-customers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
