h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}
.section {
  padding-top: var(--section-padding-gap);
  padding-bottom: var(--section-padding-gap);
}
